/botiquinElectronicoBackend/.idea
/botiquinElectronicoBackend/.idea/*
/botiquinElectronicoFrontend/.idea
/botiquinElectronicoFrontend/.idea/*
/botiquinElectronicoFrontend/node_modules/
/botiquinElectronicoFrontend/node_modules/*
/botiquinElectronicoFrontend/platforms/
/botiquinElectronicoFrontend/platforms/*
