/botiquinElectronicoBackend/.idea
/botiquinElectronicoBackend/.idea/*
/botiquinElectronicoBackend/db.sqlite3
/botiquinElectronicoBackend/scrapper/index/*
/botiquinElectronicoBackend/scrapper/indices.txt
/botiquinElectronicoBackend/scrapper/output.txt
/botiquinElectronicoFrontend/.idea
/botiquinElectronicoFrontend/.idea/*
/botiquinElectronicoFrontend/node_modules/
/botiquinElectronicoFrontend/node_modules/*
/botiquinElectronicoFrontend/platforms/
/botiquinElectronicoFrontend/platforms/*
/.vscode
