<div data-ng-repeat="producto in carrito" layout="column" layout-align="center">
    <div data-ng-if="producto.estaEnStock" class="buscadorMedicamento-estaEnStock" flex="100" layout="row" layout-margin="5px">
        <img src="{{producto.foto_producto}}" class="buscadorMedicamento-foto-producto">
        <h4 class="buscadorMedicamento-nombre-producto" flex="80"> {{producto.nombre_producto}}</h4>
        <md-button data-ng-click="borraDeStock(producto.idEnStock)">
            <md-icon>
                <i class="material-icons">remove_circle_outline</i>
            </md-icon>
        </md-button>
    </div>
    <div data-ng-if="!producto.estaEnStock" class="buscadorMedicamento-noEstaEnStock" flex="100" layout="row" layout-margin="5px">
        <img src="{{producto.foto_producto}}" class="buscadorMedicamento-foto-producto">
        <h4 class="buscadorMedicamento-nombre-producto" flex="80"> {{producto.nombre_producto}}</h4>
        <md-button data-ng-click="borraDePendientes(producto.idEnStock)">
            <md-icon>
                <i class="material-icons">remove_circle_outline</i>
            </md-icon>
        </md-button>
    </div>
</div>
<div layout-margin="10px;" layout="row">
    <md-input-container class="buscadorMedicamento-nombre-farmaco md-icon-float md-block" flex="90">
        <input data-ng-model="termino" type="text" placeholder="Introduzca nombre del fármaco">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <md-button class="md-raised md-primary" data-ng-click="buscaMedicamento()" data-ng-disabled="termino.length <= 4">
            <md-icon>
                <i class="material-icons">search</i>
            </md-icon>
        </md-button>
    </md-input-container>
</div>
<div data-ng-if="buscando" layout="row" layout-align="center center">
    <md-progress-circular ng-disabled="buscando" class="md-hue-2" md-diameter="50px"></md-progress-circular>
</div>
<div data-ng-if="resultados">
    <div>
        <md-list flex>
            <md-list-item class="md-3-line" data-ng-repeat="resultado in resultados track by resultado.id">
                <div class="md-list-item-text" layout="row">
                    <h3 flex="90" class="buscadorMedicamento-resultado-nombre-producto">{{ resultado.nombre_producto }}</h3>
                    <md-button data-ng-click="seleccionProducto(resultado.id)">
                        <md-icon>
                            <i class="material-icons">add_circle_outline</i>
                        </md-icon>
                    </md-button>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
