<div ng-repeat="producto in carrito" layout="column" layout-align="center">
    <div ng-click="borraDeStock(producto.idEnStock)" ng-if="producto.estaEnStock" style="border: 2px solid lightgreen; margin-bottom: 5px;" flex="100" layout="row" layout-margin="5px">
        <img src="{{producto.foto_producto}}" style="height:50px; width: 50px;">
        <h4 style="margin-left: 10px; padding-top: 18px;" flex="80"> {{producto.nombre_producto}}</h4>
    </div>
    <div ng-click="borraDePendientes(producto.idEnStock)" ng-if="!producto.estaEnStock" style="border: 2px solid lightcoral; margin-bottom: 5px;" flex="100" layout="row" layout-margin="5px">
        <img src="{{producto.foto_producto}}" style="height:50px; width: 50px;">
        <h4 style="margin-left: 10px; padding-top: 18px;" flex="80"> {{producto.nombre_producto}}</h4>
    </div>
</div>
<div layout-margin="10px;" layout=row>
    <md-input-container class="md-icon-float md-block" flex="90" style="padding-top: 14px;">
        <input ng-model="termino" type="text" placeholder="Introduzca nombre del fármaco">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <md-button class="md-raised md-primary" data-ng-click="buscaMedicamento()" ng-disabled="termino.length <= 4">
            <md-icon>
                <i class="material-icons">search</i>
            </md-icon>
        </md-button>
    </md-input-container>
</div>
<div data-ng-if="buscando" layout="row" layout-align="center center">
    <md-progress-circular ng-disabled="buscando" class="md-hue-2" md-diameter="50px"></md-progress-circular>
</div>
<div data-ng-if="resultados">
    <div>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="resultado in resultados track by resultado.id">
                <div class="md-list-item-text" layout="row">
                    <h3 flex="90" style="padding-top: 13px;">{{ resultado.nombre_producto }}</h3>
                    <md-button class="" ng-click="seleccionProducto(resultado.id)">
                        <md-icon>
                            <i class="material-icons">add_circle_outline</i>
                        </md-icon>
                    </md-button>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
