<div layout="column">
    <div ng-cloak>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Tus Pedidos">
                <md-content class="md-padding">
                    <pedidos-sin></pedidos-sin>
                </md-content>
            </md-tab>
            <md-tab label="Tratamientos">
                <md-content class="md-padding">
                    <pedidos-con></pedidos-con>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>