<div layout="column" ng-if="fullRender">
    <div ng-cloak>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Tus Pedidos">
                <md-content class="md-padding">
                    <listado-pedidos data-pedidos="pedidosSin"></listado-pedidos>
                </md-content>
            </md-tab>
            <md-tab label="Tratamientos">
                <md-content class="md-padding">
                    <listado-pedidos data-pedidos="pedidosCon"></listado-pedidos>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>