<div ng-controller="AppCtrl" layout="row" ng-cloak style="height: 100%" id="rootElement">

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
            </md-toolbar>

            <md-content layout="column">
                <div layout="column" style="background-image: url('/www/img/halftone-azul.jpg'); padding: 4%;">
                    <div>
                        <img ng-src="{{ profile.foto }}" style="height:50px; width: 50px; border-radius: 100%;">
                    </div>
                    <div>
                        <p>Bienvenido {{ profile.first_name}}  {{profile.last_name }}</p>
                    </div>
                </div>
                <div layout="column">
                    <div>
                        <a ui-sref="home">
                            <md-button class="md-accent">Inicio</md-button>
                        </a>
                    </div>
                    <div>
                        <a ui-sref="crearPedido">
                            <md-button class="md-accent">Crear Pedido</md-button>
                        </a>
                    </div>
                    <div>
                        <a ui-sref="buscador">
                            <md-button class="md-accent">Buscar prodcuto</md-button>
                        </a>
                    </div>
                    <div>
                        <md-button data-ng-click="logout()" class="md-accent">Salir de la aplicación</md-button>
                    </div>
                </div>
            </md-content>

        </md-sidenav>
        <div data-ng-if="!tengoToken" layout="row" layout-align="center center" flex="100">
            <div flex="80">
                <login-component></login-component>
            </div>
        </div>
        <md-content flex data-ng-if="tengoToken">
            <md-toolbar layout-align="center" md-scroll-shrink ng-if="true">
                <md-button class="md-icon-button" aria-label="Settings" data-ng-click="toggleLeft()">
                    <md-icon>
                        <i class="material-icons">menu</i>
                    </md-icon>
                </md-button>
            </md-toolbar>
            <ui-view></ui-view>
        </md-content>
    </section>
</div>
