<div data-ng-controller="AppCtrl" layout="row" ng-cloak class="root-main-controller" id="rootElement">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
            </md-toolbar>

            <md-content layout="column">
                <div layout="column" class="root-profile-background">
                    <div>
                        <img ng-src="{{ profile.foto }}" class="root-foto">
                    </div>
                    <div>
                        <p class="root-texto-bienvenida">Bienvenid@ {{ profile.first_name}}  {{profile.last_name }}</p>
                    </div>
                </div>
                <div layout="column">
                    <br>
                    <div>
                        <a ui-sref="home">
                            <md-button class="md-accent">Resumen de pedidos</md-button>
                        </a>
                    </div>
                    <div>
                        <a ui-sref="crearPedido">
                            <md-button class="md-accent">Crear Pedido</md-button>
                        </a>
                    </div>
                    <div>
                        <a ui-sref="buscador">
                            <md-button class="md-accent">Buscar prodcuto</md-button>
                        </a>
                    </div>
                    <div>
                        <md-button data-ng-click="logout()" class="md-accent">Salir de la aplicación</md-button>
                    </div>
                </div>
            </md-content>

        </md-sidenav>
        <div data-ng-if="!tengoToken" layout="row" layout-align="center center" flex="100">
            <div flex="80">
                <login-component></login-component>
            </div>
        </div>
        <md-content flex data-ng-if="tengoToken">
            <md-toolbar layout-align="center" md-scroll-shrink ng-if="true">
                <md-button class="md-icon-button" aria-label="Settings" data-ng-click="toggleLeft()">
                    <md-icon>
                        <i class="material-icons">menu</i>
                    </md-icon>
                </md-button>
            </md-toolbar>
            <ui-view></ui-view>
        </md-content>
    </section>
</div>
