<div data-ng-if="!producto.foto_producto" layout="row" layout-align="center center">
    <md-progress-circular data-ng-disabled="!producto.foto_producto" class="md-hue-2" md-diameter="50px"></md-progress-circular>
</div>
<div layout="column" layout-margin="15px" data-ng-if="producto.foto_producto">
    <div layout="column">
        <div layout="row">
            <div layout="row" flex="70" layout-align="center center">
                <p class="detalle-producto-nombre-producto">{{producto.nombre_producto}}</p>
            </div>
            <div flex="30">
                <img data-ng-src="{{producto.foto_producto}}" class="detalle-producto-foto-producto">
            </div>
        </div>
        <div>
            <span class="detalle-producto-precio">Precio:</span> {{producto.precio}}
        </div>
        <div>
            <span class="detalle-producto-textoConReceta">Con receta:</span>
            <span data-ng-if="producto.con_receta">
                <img class="detalle-producto-imagen-check" data-ng-src="./www/img/check.png">
            </span>
            <span data-ng-if="!producto.con_receta">
                <img class="detalle-producto-imagen-check" data-ng-src="./www/img/wrong.png">
            </span>
        </div>
        <div>
            <div ng-bind-html="producto.descripcion_html_trusted"></div>
        </div>
    </div>
</div>
